
{%- if navLinks != blank -%}
<nav class="header__inline-menu">
  <ul class="flxr-{{ navAlign }} list-menu list-menu--inline" role="list">
    {%- for link in navLinks.links -%}
      <li class="rpx-{{navLinkPaddingX}}">
        {%- if hoverEffect == 'square'  or 'brackets' or 'borderSlideUp' or 'sphere' -%} <span id="effects" class="d-block {{hoverEffect}}">{%- endif -%}
          <a href="{{ link.url }}"
            class="
            {%- if  hoverEffect != blank -%} hover:{{hoverEffect}} {%- endif -%} 
            {%- if  section.settings.enableTransparentHeader and request.page_type == 'index' and transparentLink -%} transparency:{{transparentLink}} {%- endif -%} link:link focus-inset tenth before after rfs-{{navFontSize}} fw-{{ navFontWeight }} 
            {%- if  navTextCaps -%} text-uppercase {%- endif -%} "
            {% if link.current %} aria-current="page"{% endif %}>
            {{ link.title | escape }}
          </a>
        {%- if hoverEffect == 'square' or 'brackets' -%}</span>{%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
{%- endif -%}