
{% render 'config' with 'footer' %}
{% assign blockHeight = block.settings.gridBlockHeight %}
<footer class="footer {% if section.settings.matchHeader %}bg:header {% else %} bg:footer {% endif %} ">

  <section class="footer-grid p-4">
    <div class="row">
      {%- for block in section.blocks -%}
      {% assign block_number = forloop.index | split: '::' %}
      {% for block in block_number %}
      {% assign block_vals = block | split: '|' %}
      {% endfor %}

        <div id="block-{{block_vals[0]}}" class=" my-2
        col-{{ block.settings.gridBlock}}
        col-sm-{{ block.settings.gridBlockSM}} 
        col-md-{{ block.settings.gridBlockMD}} 
        col-lg-{{ block.settings.gridBlockLG}} 
        col-xl-{{ block.settings.gridBlockXL}} ">
          <div id="inner-{{block_vals[0]}}" style="background:{{block.settings.gridBlockBG}};" class="row text-light  p-4">

          </div>
        </div>
    {% endfor %}
    </div>
  </section>


  <div class="footer__content-bottom {% if section.settings.matchHeaderBottom %}bg:header-main {% else %} bg:footer-bottom {% endif %}">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select aria-labelledby="FooterCountryLabelNoScript" class="localization-selector link" name="country_code">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected {% endif %}>
                      {{ country.name }}
                      ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel" aria-expanded="false" class="disclosure__button localization-form__select localization-selector link link--text caption-large" type="button">
                    {{ localization.country.name }}
                    ({{ localization.country.currency.iso_code }}
                    {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <ul class="disclosure__list list-unstyled" hidden id="FooterCountryList" role="list">
                    {%- for country in localization.available_countries -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" {% if country.iso_code == localization.country.iso_code %} aria-current="true" {% endif %} data-value="{{ country.iso_code }}">
                          {{ country.name }}
                          <span class="localization-form__currency">({{ country.currency.iso_code }}
                            {{ country.currency.symbol }})</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select aria-labelledby="FooterLanguageLabelNoScript" class="localization-selector link" name="locale_code">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected {% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel" aria-expanded="false" class="disclosure__button localization-form__select localization-selector link link--text caption-large" type="button">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <ul class="disclosure__list list-unstyled" hidden id="FooterLanguageList" role="list">
                    {%- for language in localization.available_languages -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %} aria-current="true" {% endif %} data-value="{{ language.iso_code }}">
                          {{ language.endonym_name | capitalize }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy;
            {{ 'now' | date: "%Y" }},
            {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content">{{ powered_by_link }}</small>
        </div>
      </div>
    </div>
  </div>
</footer>


{% schema %}

{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings":[
        {
          "type": "range",
          "id": "gridBlock",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Column Size",
          "default": 12
        },
        {
          "type": "checkbox",
          "id": "enabldGridBlockSM",
          "default": false,
          "label": "Enable Small Settings"
        },
        {
          "type": "range",
          "id": "gridBlockSM",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Column Size",
          "default": 12
        },
        {
          "type": "checkbox",
          "id": "enabldGridBlockMD",
          "default": false,
          "label": "Enable Medium Settings"
        },
        {
          "type": "range",
          "id": "gridBlockMD",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Column Size",
          "default": 12
        },
        {
          "type": "checkbox",
          "id": "enabldGridBlockLG",
          "default": false,
          "label": "Enable Large Settings"
        },
        {
          "type": "range",
          "id": "gridBlockLG",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Column Size",
          "default": 12
        },
        {
          "type": "checkbox",
          "id": "enabldGridBlockXL",
          "default": false,
          "label": "Enable X-Large Settings"
        },
        {
          "type": "range",
          "id": "gridBlockXL",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Column Size",
          "default": 12
        },
        {
          "type": "color",
          "id": "gridBlockBG",
          "label": "Background Color",
          "default": "#222"
        },
        
        {
          "type": "range",
          "id": "gridBlockHeight",
          "min": 10,
          "max": 60,
          "step": 5,
          "label": "Block Height",
          "default": 30
        }

      ]
    }
  ],
  "settings": [
      {
        "type": "checkbox",
        "id": "adjustGrid",
        "default": false,
        "label": "Adjust Grid"
      },

      {
        "type": "checkbox",
        "id": "matchHeader",
        "default": true,
        "label": "Match Header Background Settings"
      },
      {
        "type": "color_background",
        "id": "footerBG",
        "label": "Footer Background : Theme Light"
        
      },

      {
        "type": "color_background",
        "id": "footerBGDark",
        "label": "Footer Background : Theme Dark"
        
      },
      {
        "type": "checkbox",
        "id": "matchHeaderBottom",
        "default": true,
        "label": "Match Header Background Settings"
      },
      {
        "type": "color_background",
        "id": "footerBottom",
        "label": "Footer Background : Theme Light"
        
      },
      {
        "type": "color_background",
        "id": "footerBottomDark",
        "label": "Footer Background : Theme Dark"
        
      },
     {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    }, {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    }, {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    }, {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    }, {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    }, {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    }, {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    }, {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    }, {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    }, {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    }, {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ]
}

{% endschema %}
